.navbar {
    background-color: rgba(231, 114, 31, 0.6);
    border-radius: 30px;
    grid-area: n;
}

.menu {
    padding: 20px;
}

.item {
    color: white;
    text-decoration: none;
    
}

.item:hover {
    color: rgb(170, 50, 19);
}

.item .active {
    color: rgb(31, 107, 60);
    text-decoration: none;
    
}