.myPosts {
    padding: 20px;
}
textarea {
    width: 100%;
    border-color: chocolate;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(28, 104, 28, 0.699);
}

button {
    background-color: rgba(28, 104, 28, 0.699);
    border: none;
    color: white;

    border-radius: 20px;
}

