.header {
    background-color: chocolate;
    border-radius: 30px;
    grid-area: h;
}

.logo {
    padding: 20px;
    color: wheat;
    display: flex;
    justify-content: space-between;
}

.login a {
    color: rgba(28, 104, 28, 0.699);
}

