.dialogs {
    grid-area: p;
    display: grid;
    grid-template-columns: 4fr 10fr;
    border: 1px solid rgb(104, 53, 16);
    border-radius: 30px;
    padding: 20px;
}

.dialogs .active {
    color: rgb(31, 107, 60);
}

.dialogs a {
    color: brown;
    text-decoration: none;
}

.button {
    text-align: right;
}

.button button {
    background-color: rgba(28, 104, 28, 0.699);
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}

